section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
}

.cards {
  width: 300px;
  padding: 12px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rgba(182, 14, 14, 0.1);
  cursor: pointer;
}
.imagebox img {
  width: 300px;
  height: 400px;
}
.detailsss {
  font-weight: bold;
}
.detailss {
  color: rgb(46, 122, 215);
  font-size: 2rem;
  font-weight: bold;
}
.detail {
  font-weight: bold;
  color: grey;
}
/* .button {
    width: max-content;
    padding: 5px 10px;
    border:yellow;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  } */
.button {
  width: 150px;
  height: 2.5rem;
  color: azure;
  font-size: x-large;
  font-weight: bold;
  background-color: cornflowerblue;
  cursor: pointer;
  border-radius: 10px;
  border-color: blue;
}
.button :hover {
}
